<div class="controls">
    <mat-form-field appearance="standard">
    <mat-label>UTM</mat-label>
    <input readonly matInput placeholder="UTM Coordinate" [(ngModel)]="utm" size="100">
</mat-form-field>
</div>


<canvas id="canvasOne" width="1000" height="1000"
        style="width: 75%; height: 75%; background-color: black;">
    Your browser does not support HTML5 Canvas.
</canvas>

<div class="coord-list">
    <!-- <mat-selection-list [multiple]="false" #list *ngFor="let s of shoes" [(ngModel)]="model" (ngModelChange)="listSelectionChanged($event)">
        <mat-list-option [value]="s"> {{ s }} </mat-list-option>
    </mat-selection-list> -->
</div>